@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;

  @media only screen and (min-width: 1800px) {
    font-size: 75%;
  }

  @media only screen and (max-width: 1200px) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: 900px) {
    font-size: 50%;
  }

  @media only screen and (max-width: 600px) {
    font-size: 37.5%;
  }

  @media only screen and (max-width: 400px) {
    font-size: 35%;
  }

  @media only screen and (max-width: 350px) {
    font-size: 32%;
  }
}